<div class="ui segment">
  <a class="ui ribbon label"><%= @user.name %></a>

  <div class="ui small circular image">
    <%= image_tag(@user.avatar) %>
  </div>

  <div class="ui segment">
    <div class="content">
      <p><%= @user.email %></p>
      <p><%= @user.zipcode %></p>
      <p><%= @user.age %></p>
      <p><%= @user.gender %></p>
      <p><%= @user.bio %></p>
    </div>
  </div>

  <div class="ui button">
    <% if current_user.id == @user.id %>
    <%= link_to "Edit", edit_user_path(@user) %>
    <% end %>
  </div>
</div>

<div class="ui segment three column grid">

  <a class="ui ribbon label"><%= @user.name %>'s Dogs</a>

    <% @user.dogs.each do |dog| %>
      <div class="column">
        <div class="ui card">
          <div class="content">
            <div class="header">
              <div class="ui avatar image">
                <%= image_tag(dog.image) %>
              </div>
              <%= dog.name %>
            </div>
            <div class="description">
              <%= dog.bio %>
            </div>
          </div>
        </div>
      </div>
    <% end  %>
</div>

<div class="ui button">
  <%= link_to "Add Dog", new_dog_path %>
</div>
