<h1>Sign Up</h1>

<%= form_for @user, url: signup_path, :html => { :multipart => true } do |f| %>

  <% if @user.errors.present? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  <div><%= f.file_field :avatar %></div>

  <div><%= f.label :name %></div>
  <div><%= f.text_field :name %></div>

  <div><%= f.label :email %></div>
  <div><%= f.email_field :email %></div>

  <div><%= f.label :age %></div>
  <div><%= f.number_field :age %></div>

  <div><%= f.label :zipcode %></div>
  <div><%= f.text_field :zipcode %></div>

  <div><%= f.label :gender %></div>
  <div><%= f.select :gender, ["Female", "Male"], {include_blank: "Gender"} %></div>

  <div><%= f.label :bio %></div>
  <div><%= f.text_field :bio %></div>

  <div><%= f.label :password %></div>
  <div><%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %></div>
  <div><%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>

<% end %>
