<h1>Preferences</h1>

<div class="ui form segment" id="new-filter-form">
  <%= form_for([@user, @filter]) do |f| %>
  <%= render 'shared/errors', object: @filter %>

  <div class="two fields">
    <div class="field">
      <label>Preference</label>
      <input id="new-filter-type" name="filter[type]" type="hidden" value="Gender">
      <label>Gender</label>
      <div class="ui selection dropdown">
        <div class="default text">Gender</div>
        <i class="dropdown icon"></i>
        <input id="new-filter-gender" name="filter[content]" type="hidden">
        <div class="menu">
          <div class="item" data-value="Female">Female</div>
          <div class="item" data-value="Male">Male</div>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.submit "Submit Preferences", class: "ui submit button"  %>
    </div>
  </div>
  <% end %>
</div>


<div class="ui form segment" id="new-filter-form">
  <%= form_for([@user, @filter]) do |f| %>
  <%= render 'shared/errors', object: @filter %>

  <div class="two fields">
    <div class="field">
      <label>Preference</label>
      <input id="new-filter-type" name="filter[type]" type="hidden" value="Size">
      <label>Size</label>
      <div class="ui selection dropdown">
        <div class="default text">Size</div>
        <i class="dropdown icon"></i>
        <input id="new-filter-gender" name="filter[content]" type="hidden">
        <div class="menu">
          <div class="item" data-value="small">Small</div>
          <div class="item" data-value="medium">Medium</div>
          <div class="item" data-value="large">Large</div>
          <div class="item" data-value="extra-large">Extra Large</div>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.submit "Submit Preferences", class: "ui submit button"  %>
    </div>
  </div>
  <% end %>
</div>
