<!DOCTYPE html>
<html>
<head>
  <title>DogPlayDate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="ui inverted fixed menu navbar page grid">
    <a href="/" class="brand item">Dog Day Date</a>
    <div class="right menu">
      <% if current_user %>
        <%= link_to current_user.name, current_user, class: "ui dropdown item active visible" %>
        <%= link_to "Sign Out", signout_path, class: "item"%>
      <% else %>
        <%= link_to 'Sign Up', signup_path, class: "item" %>
        <%= link_to "Sign-In", signin_path, class: "item"%>
      <% end %>
    </div>
  </div>

<%= yield %>

<script charset="utf-8">
  $('.ui.dropdown').dropdown();
</script>
</body>
</html>
